body {
    background-color: #ffe3e7;
    margin: 0;
    padding: 0;
}

.App {
    color: black;
    text-align: center;
    font-family: '8bit';
}

@font-face {
    font-family: "8bit";
    src: local("8bit16"),
    url("./fonts/8bit16.ttf") format("truetype");
}

@font-face {
    font-family: "muro";
    src: local("muro"),
    url("./fonts/Muro.otf") format("truetype");
}

.container {
    padding: 0px;
    margin: 0px;
}