body {
    background-color: #ffe3e7;
    margin: 0 0 2rem 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.App {
    color: black;
    text-align: center;
    font-family: '8bit';
}

@font-face {
    font-family: "8bit";
    src: local("8bit16"),
    url("./fonts/8bit16.ttf") format("truetype");
}

.container {
    padding: 0px;
    margin: 0px;
}